@** Copyright 2017 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model Nop.Plugin.InstantSearch.Models.InstantSearchModel
@inject INopHtmlHelper NopHtml
@inject IWorkContext workContext
@{
    /*
    Kendo UI specific css files.
    kendo.common.min.css - it contains common kendo styles
    kendo.default.min.css - it contains deafult kendo theme specific styles. You can use the kendo theme builder for new themes - http://demos.kendoui.com/themebuilder/index.html
    */

    var instantSearchCssFilePath = "~/Plugins/InstantSearch/Theme/" + Model.Theme + "/Content/InstantSearch.css";

    var kendoVersion = "2020.1.406";

    <!--Kendo scripts should be included before kendo.all.min.js in case we have HelpDesk. That is why we use Append to place them at the top of any other scripts -->
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/InstantSearch/Scripts/lib/kendo/2020.1.406/js/kendo.all.min.js");
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/InstantSearch/Scripts/lib/kendo/2020.1.406/js/kendo.fx.min.js");
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/InstantSearch/Scripts/lib/kendo/2020.1.406/js/kendo.autocomplete.min.js");
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/InstantSearch/Scripts/lib/kendo/2020.1.406/js/kendo.list.min.js");
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/InstantSearch/Scripts/lib/kendo/2020.1.406/js/kendo.popup.min.js");
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/InstantSearch/Scripts/lib/kendo/2020.1.406/js/kendo.data.min.js");
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/InstantSearch/Scripts/lib/kendo/2020.1.406/js/kendo.core.min.js");

}

<link rel="stylesheet" href="@instantSearchCssFilePath" />

@if (await Html.ShouldUseRtlThemeAsync())
{
    var instantSearchRtlCssFilePath = "~/Plugins/InstantSearch/Theme/" + Model.Theme + "/Content/InstantSearch.rtl.css";

    <link rel="stylesheet" href="@instantSearchRtlCssFilePath" />
}

<script src="~/Plugins/InstantSearch/Scripts/InstantSearchMobile.js" asp-location="Footer"></script>


@if (Model.TopLevelCategories.Count > 0)
{
    <select class="search-box-select" id="instant-search-categories">
        <option value='0'>@T("InstantSearch.Public.AllCategories")</option>
        @foreach (var category in Model.TopLevelCategories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
}
else if (Model.Manufacturers.Count > 0)
{
    <select class="search-box-select" id="instant-search-manufacturers">
        <option value='0'>@T("InstantSearch.Public.AllManufacturer")</option>
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <option value="@manufacturer.Id">@manufacturer.Name</option>
        }
    </select>
}
else if (Model.Vendors.Count > 0)
{
    <select class="search-box-select" id="instant-search-vendors">
        <option value='0'>@T("InstantSearch.Public.AllVendor")</option>
        @foreach (var vendor in Model.Vendors)
        {
            <option value="@vendor.Id">@vendor.Name</option>
        }
    </select>
}

<input type="hidden" class="instantSearchResourceElement"
       data-highlightFirstFoundElement="@Model.HighlightFirstFoundElementToBeSelected.ToString().ToLowerInvariant()"
       data-minKeywordLength="@Model.MinKeywordLength"
       data-defaultProductSortOption="@Model.DefaultProductSortOption"
       data-instantSearchUrl="@Url.RouteUrl("InstantSearchForAction")"
       data-searchPageUrl="@Url.RouteUrl("ProductSearch")"
       data-searchInProductDescriptions="@Model.SearchInProductDescriptions.ToString().ToLowerInvariant()"
       data-numberOfVisibleProducts="@Model.NumberOfVisibleProducts"
       data-noResultsResourceText="@T("InstantSearch.Public.NoResults")" />

@* You can change the whole html by modifying the template below without the main div element as it is used in the navigation.
    There is NO need to add anchor html elements(<a href..) as the navigation is handled automaticaly when an item is selected.
    You can use the following tokens to get the information retuned from the server:
    ${ data.ProductPageUrl } - contains the url of the product page i.e /p/7. This property is required for the navigation to work and should not be removed from the template!!!
    ${ data.ProductName } - contains the name of the product
    ${ data.DefaultPictureUrl } - contains the Url of the default product picture
    ${ data.ProductPrice } - contains the price of the product
*@

<script id="instantSearchItemTemplate">

    function createInstantSearchItem(data, showSku) {
        var instantSearchItemDiv = document.createElement("div");
        instantSearchItemDiv.classList.add("instant-search-item");
        instantSearchItemDiv.dataset.url = data.CustomProperties.Url;

        var iOSLink = document.createElement("a");
        iOSLink.classList.add("iOS-temp");
        iOSLink.href = data.CustomProperties.Url;

        var imgBlockDiv = document.createElement("div");
        imgBlockDiv.classList.add("img-block");

        var imgElement = document.createElement("img");
        imgElement.src = data.PictureModels[0].ImageUrl;
        imgElement.alt = data.Name;
        imgElement.title = data.Name;
        imgElement.style.border = "none";

        imgBlockDiv.appendChild(imgElement);

        var detailDiv = document.createElement("div");
        detailDiv.classList.add("detail");

        var titleDiv = document.createElement("div");
        titleDiv.classList.add("title");
        titleDiv.textContent = data.Name;

        detailDiv.appendChild(titleDiv);

        if (showSku) {
            var skuDiv = document.createElement("div");
            skuDiv.classList.add("sku");
            var sku = "Ürün Kodu: " + (data.Sku != null ? data.Sku : "");
            skuDiv.textContent = sku;
            detailDiv.appendChild(skuDiv);

            var priceDiv = document.createElement("div");
            priceDiv.classList.add("price");
            var price = data.ProductPrice.Price ? data.ProductPrice.Price : "";
            priceDiv.textContent = price;
            detailDiv.appendChild(priceDiv);
        }

        iOSLink.appendChild(imgBlockDiv);
        iOSLink.appendChild(detailDiv);
        instantSearchItemDiv.appendChild(iOSLink);

        return instantSearchItemDiv;
    }

    // Örnek kullanım
    var data = {
        CustomProperties: {
            Url: "/example-url"
        },
        PictureModels: [{
            ImageUrl: "https://example.com/image.jpg"
        }],
        Name: "Example Product",
        Sku: "12345",
        ProductPrice: {
            Price: "$10.00"
        }
    };

    var isMobileView = window.innerWidth <= 1024; // Adjust the threshold as needed

    if (isMobileView) {


        var showSku = true; // Gösterilip gösterilmeyeceğini belirtin
        var instantSearchItem = createInstantSearchItem(data, showSku);

        // Oluşturulan öğeyi belirli bir yerde göstermek için örneğin body'e ekleyebilirsiniz
        var x = document.querySelector(".store-search-box");
        x.appendChild(instantSearchItem);
    }

</script>

<script>
    function setViewportWidthCookie() {
        document.cookie = "viewportWidth=" + window.innerWidth;
    }

    setViewportWidthCookie();
    window.addEventListener('resize', setViewportWidthCookie);
</script>